{% extends 'similar_art/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<div class="col-12 screen-col align-middle pt-5" align="center">
    <div class="col-8">
      <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button> <br>
        {{ message }}
        {{ results }}
        {% for result in results %}
        <img src="{{ result }}">
        {% endfor %}
              </form>
    </div>
</div>
{% else %}
  Please <a href="{% url 'login' %}">log in</a>
{% endif %}

{% endblock content %}
{% block footer_javascript_page %}
	<script>
	    $('#site-wrapper').addClass('home-bg')
	</script>
{% endblock footer_javascript_page %}